<div style="height:100%;">
    <div class="box certificate maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto;background:transparent !important">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both; ">

           
            <div id="scrollview" dx-scroll-view="scroll_main">

                <!--<div style="padding-top:2px;padding-right:2px;padding-left:2px" ng-repeat="x in ds">
                    <div class="col-lg-12 col-md-12 col-sm-12  applibraryitem" style="padding:1px 2px 2px 2px;display:block"  >
                        <div ng-class="x.class" style="margin:0; padding:5px 5px 5px 10px;display:block">
                            <p style="padding:5px 0 8px 0;margin:0;font-weight:bold;">{{x.CourseTypeTitle}}<span style="display:inline-block;padding-left:5px;font-weight:normal"> {{x.CourseOrganization}} </span></p>
                            <div style="padding:0 0 5px 0">
                                <div class="col-lg-3 col-sm-4 col-md-4" style="padding-left:0;padding-right:0;"><span>No:</span><span style="display:inline-block;padding-left:3px;font-weight:bold">{{x.CerNumber}}</span></div>
                                <div class="col-lg-3 col-sm-4 col-md-4" style="padding-left:0;padding-right:0;"><span>Issue Date:</span><span style="display:inline-block;padding-left:3px;font-weight:bold">{{x.DateIssue}}</span></div>
                                <div class="col-lg-3 col-sm-4 col-md-4" style="padding-left:0;padding-right:0;"><span>Expiration Date:</span><span style="display:inline-block;padding-left:3px;font-weight:bold">{{x.ExpireDate}}</span></div>
                                <div class="col-lg-3 col-sm-4 col-md-4" style="padding-left:0;padding-right:0;"><span>Remains:</span><span style="display:inline-block;padding-left:3px;font-weight:bold">{{x.Remain}}</span><span style="display:inline-block;padding-left:3px;">Day(s)</span></div>
                                <div style="clear:both"></div>
                            </div>
                           
                   
                            <div style="clear:both"></div>

                        </div>
                    </div>

 


                </div>-->

            </div>
        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appcertificate';" style="padding:0;flex:0 0 45px"></div>
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>
