<style>
    ._cal .days-row {
        border: 1px solid #eee;
    }

        ._cal .days-row td {
            text-align: center;
            border: 1px solid #eee;
            padding: 5px;
            width: 14.28571%;
        }

    ._cal .days {
        border: 1px solid #eee;
    }

        ._cal .days td {
            border: 1px solid #eee;
            width: 14.28571%;
            padding: 3px;
        }

            ._cal .days td .day-wrapper {
                padding:2px;
                min-height:65px;
            }
         

            ._cal .days td .day-caption {
                color: white;
                text-align: right;
                padding: 1px;
            }
            ._cal .days td .today .day-caption {
                color:orange;
                font-weight:bold;
            }

                ._cal .days td .day-caption.inactive {
                    color: gray !important;
                }

            ._cal .days td .today .day-caption.inactive {
                color: orange !important;
                font-weight: bold;
            }
        ._cal .event {
            padding:3px;
            margin:2px 0 0 0;
            text-align:center;
        }
            ._cal .event.d1165 {
                background-color: #00cc99;
            }
            ._cal .event.d10000 {
                background-color: #66ff66;
            }
    ._cal .event span {
        display:inline-block;
        margin-left:5px;
        font-weight:bold;
        font-size:15px;
    }
    ._cal .event i {
       font-size:15px;
    }
</style>
<div ng-controller="calendarController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">
            <div style="padding:10px 5px 5px 5px;" ng-show="isContentVisible">
                Calendar
            </div>
            <div>
                <table style="width:100%">
                    <tr>
                        <td style="padding:15px 7px 15px 7px" ng-click="nextMonth(-1)"><i class="fas fa-chevron-circle-left main-color" style="font-size:28px;"></i></td>
                        <td style="text-align:center;font-size:20px;padding:15px 7px 15px 7px">{{caption}}</td>
                        <td style="padding:15px 7px 15px 7px;text-align:right;" ng-click="nextMonth(1)"><i class="fas fa-chevron-circle-right main-color" style="font-size:28px;"></i></td>
                    </tr>

                </table>
            </div>
            <div class="_cal" ng-show="isCalVisible">
                <!--<div class="days-row">
                    <div>SUN</div>
                    <div>MON</div>
                    <div>TUE</div>
                    <div>WED</div>
                    <div>THU</div>
                    <div>FRI</div>
                </div>-->
                <table style="width:100%" class="days-row">
                    <tr>
                        <td>SUN</td>
                        <td>MON</td>
                        <td>TUE</td>
                        <td>WED</td>
                        <td>THU</td>
                        <td>FRI</td>
                        <td>SAT</td>
                    </tr>
                </table>
                <div id="scrollview" class="thin-scroll0" style="overflow-y:auto;margin-top:0px;" ng-style="scrollStyle">
                    <table style="width:100%" class="days" id="_days">
                        <tr id="w1">
                            <td id="d0">
                                <div class="day-wrapper"></div>
                            </td>
                            <td id="d1">
                            </td>
                            <td id="d2">
                            </td>
                            <td id="d3">
                            </td>
                            <td id="d4">
                            </td>
                            <td id="d5">
                            </td>
                            <td id="d6">
                            </td>
                        </tr>

                        <tr id="w2">
                            <td id="d7">
                            </td>
                            <td id="d8">
                            </td>
                            <td id="d9">
                            </td>
                            <td id="d10">
                            </td>
                            <td id="d11">
                            </td>
                            <td id="d12">
                            </td>
                            <td id="d13">
                            </td>
                        </tr>

                        <tr id="w3">
                            <td id="d14">
                            </td>
                            <td id="d15">
                            </td>
                            <td id="d16">
                            </td>
                            <td id="d17">
                            </td>
                            <td id="d18">
                            </td>
                            <td id="d19">
                            </td>
                            <td id="d20">
                            </td>
                        </tr>
                        <tr id="w4">
                            <td id="d21">
                            </td>
                            <td id="d22">
                            </td>
                            <td id="d23">
                            </td>
                            <td id="d24">
                            </td>
                            <td id="d25">
                            </td>
                            <td id="d26">
                            </td>
                            <td id="d27">
                            </td>
                        </tr>
                        <tr id="w5">
                            <td id="d28">
                            </td>
                            <td id="d29">
                            </td>
                            <td id="d30">
                            </td>
                            <td id="d31">
                            </td>
                            <td id="d32">
                            </td>
                            <td id="d33">
                            </td>
                            <td id="d34">
                            </td>
                        </tr>
                        <tr id="w6">
                            <td id="d35">
                            </td>
                            <td id="d36">
                            </td>
                            <td id="d37">
                            </td>
                            <td id="d38">
                            </td>
                            <td id="d39">
                            </td>
                            <td id="d40">
                            </td>
                            <td id="d41">
                            </td>
                        </tr>


                    </table>
                </div>
            </div>


        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>