<style>




    /*.ripple {
        background-position: center;
        transition: background 0.5s;
    }

        .ripple:hover {
            background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
        }

        .ripple:active {
            background-color: #fff;
            background-size: 100%;
            transition: background 0s;
        }
    .ripple.tile-selected {
        background-position: center;
        transition: background 0.5s;
        border:3px solid black !important;
    }
        .ripple.tile-selected:hover {
            background: #fff radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
        }

        .ripple.tile-selected:active {
            background-color: #eee;
            background-size: 100%;
            transition: background 0s;
        }*/
    .lib-cer {
        /*background-position: center;
        transition: background 0.4s;
        background: #fff radial-gradient(circle, transparent 1%, #eee 1%) center/15000%  ;*/
        background: transparent;
        transition: background 0.4s;
    }
    .cer-expiring {
        background: #e69900;
        
    }

    .cer-expired {
        background: #cc2900;
        color: white;
    }
    .cer-unknown {
        background: #8c8c8c;
        color: white;
    }
    .cer-valid {
        background: #00e6ac;
        color:black;
    }
</style>
<div style="height:100%;">
    <div class="box certificate maincontainer" style="height:100%;overflow-y:hidden;max-width:1024px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both; ">
            <!-- <div style="padding:20px;" class="ripple">vahid</div>-->

            <div id="scrollview" dx-scroll-view="scroll_main">


                <div ng-repeat="x in ds" ng-click="itemClick($event,x)" id="cer-{{x.TypeId}}" style="padding-bottom:5px;padding-top:5px;padding-right:2px;padding-left:2px;margin:5px 5px 0 5px; border:1px solid #bbb" class="lib-cer">

                    <div >

                        <div style="float:left;width:20%;padding:7px 0 7px 0;margin-left:2px;" ng-class="getRemainClass(x)">
                            <div style="text-align:center;font-size:14px;">Remaining</div>

                            <div style="text-align:center;font-size:20px;padding:2px 0">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Day(s)</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc;padding:4px 15px;">
                            <div   style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold;text-transform:uppercase;font-size:16px">{{x.Title}}</div>
                            <div style="font-size:15px;font-weight:bold"><span style="display:inline-block;width:50px;font-weight:normal">Issued:</span> {{formatDateCer(x.IssueDate)}}</div>
                            <div style="font-size:15px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Expires:</span> {{formatDateCer(x.ExpireDate)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>
                    </div>
                    <!--<div ng-if="x.tmp == 1184">
                        <div style="float:left;width:20%;padding:3px 0 3px 0;margin-left:2px;" ng-class="getRemainClass(x)" ng-show="x.Level!=6">
                            <div style="text-align:center;font-size:14px;">Rem.</div>

                            <div style="text-align:center;font-size:20px;">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Days</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc">
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.TypeTitle}}</div>
                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Level:</span> {{x.Level}}</div>
                            <div ng-show="x.Level!=6" style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Expires:</span> {{formatDate(x.DateExpire)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>
                    </div>
                    <div ng-if="x.tmp == 1185">
                        <div style="float:left;width:20%;padding:3px 0 3px 0;margin-left:2px;" ng-class="getRemainClass(x)">
                            <div style="text-align:center;font-size:14px;">Rem.</div>

                            <div style="text-align:center;font-size:20px;">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Days</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc">
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.TypeTitle}}</div>
                            <div style="font-size:13px;font-weight:bold"><span style="display:inline-block;width:50px;font-weight:normal">Class:</span> {{ x.Class }}</div>
                            <div style="font-size:13px;font-weight:bold"><span style="display:inline-block;width:50px;font-weight:normal">Issued:</span> {{formatDate(x.DateIssue)}}</div>

                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Expires:</span> {{formatDate(x.DateExpire)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Limitation">
                            <div style="font-weight:bold;padding:5px;text-align:left">Limitation</div>
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Limitation}}</p>
                            <div style="clear:both"></div>


                        </div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>
                    </div>
                    <div ng-if="x.tmp == 5007">

                        <div style="float:left;width:20%;padding:3px 0 3px 0;margin-left:2px;" ng-class="getRemainClass(x)">
                            <div style="text-align:center;font-size:14px;">Rem.</div>

                            <div style="text-align:center;font-size:20px;">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Days</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc">
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.TypeTitle}}</div>
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.AcType}}</div>
                            <div style="font-size:13px;font-weight:bold"><span style="display:inline-block;width:50px;font-weight:normal">Issued:</span> {{formatDate(x.DateIssue)}}</div>
                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Expires:</span> {{formatDate(x.DateExpire)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>
                    </div>
                    <div ng-if="x.tmp == 1186">

                        <div style="float:left;width:20%;padding:3px 0 3px 0;margin-left:2px;" ng-class="getRemainClass(x)">
                            <div style="text-align:center;font-size:14px;">Rem.</div>

                            <div style="text-align:center;font-size:20px;">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Days</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc">
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.TypeTitle}}</div>
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">
                                {{x.EmployedBy}}
                                <span style="display:inline-block;margin-left:5px;font-weight:normal" ng-show="x.Occupation">({{x.Occupation}})</span>
                            </div>
                            <div style="font-size:13px;font-weight:bold"><span style="display:inline-block;width:50px;font-weight:normal">Issued:</span> {{formatDate(x.DateIssue)}}</div>
                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:50px;font-weight:normal">Expires:</span> {{formatDate(x.DateExpire)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>
                    </div>
                    <div ng-if="x.tmp == 1181">

                        <div style="float:left;width:20%;padding:3px 0 3px 0;margin-left:2px;" ng-class="getRemainClass(x)">
                            <div style="text-align:center;font-size:14px;">Rem.</div>

                            <div style="text-align:center;font-size:20px;">{{x.Remain}}</div>
                            <div style="text-align:center;font-size:14px;">Days</div>

                        </div>
                        <div style="padding-left: 5px;float:left;border-left:1px dashed #ccc">
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">{{x.TypeTitle}}</div>
                            <div ng-class="x.titleClass" style="font-size:14px;margin-top:3px;margin-bottom:5px;font-weight:bold">
                                {{x.Title}} -
                                <span style="display:inline-block;margin-left:0px;font-weight:normal"> {{x.No}} </span>
                            </div>
                            <div style="font-size:13px;font-weight:bold"><span style="display:inline-block;width:90px;font-weight:normal">Initial Issue:</span> {{formatDate(x.DateIssue)}}</div>
                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:90px;font-weight:normal">Valid Until:</span> {{formatDate(x.DateExpire)}}</div>
                            <div style="font-size:13px;font-weight:bold;margin-top:3px;"><span style="display:inline-block;width:90px;font-weight:normal">IR Valid Until:</span> {{formatDate(x.DateIRValid)}}</div>


                        </div>


                        <div style="clear:both"></div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Rating">
                            <div style="font-weight:bold;padding:5px;text-align:left">Ratings, Certificates and Privilleges</div>
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Rating}}</p>
                            <div style="clear:both"></div>


                        </div>
                        <div style="text-align:center;font-size:13px;border-top:1px dashed #ccc;margin:5px;padding-top:5px;" ng-show="x.Description">
                            <p style="text-align:left;padding-left:5px;padding-right:5px;padding-top:2px;text-align:justify">{{x.Description}}</p>
                            <div style="clear:both"></div>


                        </div>

                    </div>-->
                    <div style="clear:both"></div>

                </div>




            </div>
        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appcertificate';" style="padding:0;flex:0 0 45px"></div>
    </div>


    <div id="newCertificate" dx-popup="popup_newcertificate">

        <div id="popup_certificate_scroll" style="padding:0px 0 0 0; height:100%;">
            <div dx-scroll-view="scroll_popup">
                <div class="dx-border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Type</label>
                        <div dx-select-box="sb_certype" dx-validator="{validationGroup:'add_new_certificate',  validationRules: [{ type: 'required'}]}"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="  col-12  margin-bottom-5 padding-7" style="display:block" ng-show="icao">
                        <label>Level</label>
                        <div dx-select-box="sb_icao"></div>

                    </div>
                    <div style="clear:both"></div>
                    <div class="  col-12  margin-bottom-5 padding-7" style="display:block" ng-show="cmc">
                        <label>Employed By</label>
                        <div dx-select-box="sb_airline"></div>

                    </div>
                    <div class="  col-12  margin-bottom-5 padding-7" style="display:block" ng-show="cmc">
                        <label>Occupation</label>
                        <div dx-text-box="txt_occupation"></div>

                    </div>

                    <div style="clear:both"></div>
                    <div class="col-lg-4 col-md-3 col-sm-9 col-xs-3 col-12  margin-bottom-5 padding-7" style="display:block" ng-show="med">
                        <label>Class</label>
                        <div dx-number-box="num_class" class="center"></div>

                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-3 col-xs-9 col-12  margin-bottom-5 padding-7" style="display:block" ng-show="med">
                        <label>Limitation</label>
                        <div dx-text-box="txt_limitation"></div>

                    </div>

                    <div style="clear:both"></div>
                    <div class="col-lg-2  col-12   margin-bottom-5 padding-7" ng-show="typ">
                        <label>AC Type</label>
                        <div dx-select-box="sb_actype" class="center"></div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8 col-12  margin-bottom-5 padding-7" style="display:block" ng-show="fcl">
                        <label>Title of Licence</label>
                        <div dx-text-box="txt_title"></div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4 col-12  margin-bottom-5 padding-7" style="display:block" ng-show="fcl">
                        <label>No</label>
                        <div dx-text-box="txt_no" class="center"></div>

                    </div>
                    <div class="col-12  margin-bottom-5 padding-7" style="display:block" ng-show="fcl">
                        <label>Ratings, Certificates and privilleges</label>
                        <div dx-text-box="txt_rating"></div>

                    </div>
                    <div style="clear:both"></div>



                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block;width:100%" ng-show="issueVisible">
                        <label>{{Issued}}</label>
                        <div dx-date-box="date_issued" class="center" ></div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block;width:100%" ng-show="expireVisible">
                        <label>{{Expires}}</label>
                        <div dx-date-box="date_expired" class="center ltr f16"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block;width:100%" ng-show="fcl">
                        <label>IR Valid Until</label>
                        <div dx-date-box="date_irvalid" class="center ltr f16"></div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-12   margin-bottom-5 padding-7" style="display:block">
                        <label>Description</label>
                        <div dx-text-area="txt_remark" style="height:70px" class="ltr f16"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div dx-load-panel="loadPanel"></div>
</div>
