<div style="height:100%;">
    <div class="box appdocumentitem maincontainer" style="height:100%;overflow-y:hidden;max-width:1024px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:white; ">



            <div id="scrollview" dx-scroll-view="scroll_main">
                <div   style="padding:10px 20px 10px 20px; ">

                     
                    <div class="col-lg-7 col-md-10 col-sm-10 " style="padding:20px 10px 0 10px">
                        <div style=" font-weight:bold;">{{Category}}</div>
                        <div style=" font-weight:bold;font-size:15px;margin-top:5px; ">{{Title}}</div>
                        <!-- <div style="margin-top:10px">by</div>-->
                        
                        <div style="margin-top:10px">
                            <span>Sender:</span><span style="display:inline-block;padding-left:5px;font-weight:bold">{{Sender}}</span>
                        </div>
                        <div style="margin-top:10px">
                            <span>No:</span><span style="display:inline-block;padding-left:5px;font-weight:bold">{{No}}</span>
                        </div>
                        
                        <div style="margin-top:10px">
                            <span>Date added to Library:</span><span style="display:inline-block;padding-left:5px;font-weight:bold">{{DateExposure}}</span>
                        </div>
                    </div>
                    <div style="border-top:1px solid #ccc;  margin:10px 0 5px 0" class="hidden-lg  hidden-md  hidden-sm"></div>
                    <div class="col-lg-3 col-md-10 col-sm-10 " style="padding:10px 10px 0 20px">
                        <div>
                            <span>Visit Date:</span><span style="display:block;font-weight:bold">{{DateVisit}}</span>
                        </div>
                        <div style="margin-top:10px">
                            <span>Download Date:</span><span style="display:block;font-weight:bold">{{DateDownload}}</span>
                        </div>
                        <a data-ng-click="download()" class="w3-button w3-block w3-blue" style="width:100%;margin:10px auto 5px auto;text-decoration:none">Download</a>
                    </div>
                    <div style="clear:both"></div>
                    <div style="border-top:1px solid #ccc;  margin:10px 0 5px 0" class="hidden-lg  hidden-md  hidden-sm"></div>
                    
                    <div class="col-lg-9 col-md-10 col-sm-10 " style="padding:15px 10px 0  5px">
                        <div style="font-weight:bold;">Abstract</div>
                        <div style="  margin-top:5px;text-align:justify;line-height:25px ">{{Abstract}}</div>
                    </div>
                    <!--<video width="400" controls preload="metadata" crossorigin="anonymous" tabindex="-1"  >
                         <source src="https://udemy-assets-on-demand.udemy.com/2018-11-07_23-14-23-d12135e8e3898a0cf792a190bdaf06c2/WebHD_720p.mp4?nva=20190114170818&amp;token=01eb6ab20274cc45e1daf" type="video/mp4">


                    </video>-->
                </div>

            
               


            </div>
        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appdocumentitem';" style="padding:0;flex:0 0 45px"></div>
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>