<div style="height:100%;">
    <div class="box flightstatistics maincontainer" style="height:100%;overflow-y:hidden;max-width:1024px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:#f0f3f5;  ">

          




        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appflightstatistics';" style="padding:0;flex:0 0 45px"></div>
    </div>

   


    <div dx-load-panel="loadPanel"></div>
</div>