<div style="height:100%;">
    <div class="box flightnew maincontainer" style="height:100%;overflow-y:hidden;max-width:1024px;margin:0 auto 0 auto">

        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:#f0f3f5;  ">
            <!--<div style="padding-top:2px;padding-right:2px;padding-left:2px;background:white !important;padding:5px 10px" class="lib-flight">-->
            <div style="padding-top:2px;padding-right:2px;padding-left:2px;background:white !important;padding:5px 10px; height:100%">

                <div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Airline</dx-label>
                            <div dx-text-box="textBox.simple"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Flight NO</dx-label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Date</dx-label>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-text-box="textBox.simple"></div>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.dateFormat"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>From</dx-label>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>To</dx-label>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-select-box="selectBox.simple"></div>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-select-box="selectBox.simple"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>STD</dx-label>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>STA</dx-label>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>OffBlock</dx-label>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>OnBlock</dx-label>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Take Off</dx-label>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Landing</dx-label>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <div dx-date-box="dateBox.timeFormat"></div>
                        </div>
                    </div>

                    <div class="row" style="text-align:left;margin:5px;padding-top:5px;">
                        <div class="dx-field-value; col-md-6 col-sm-6 col-xs-6">
                            <dx-label>Position</dx-label>
                            <div dx-select-box="selectBox.simple"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appflightnew';" style="padding:0;flex:0 0 45px"></div>

    </div>
    <div dx-load-panel="loadPanel"></div>

</div>