<style>
    .footeritem.xactive {
        color: white;
        background: #306b65;
    }
</style>
<div ng-controller="footerController" id="_footer" style="width:100%;position:relative">
    <div class="icon-bar" style="overflow:hidden">
        <a href="#" class="apphome footeritem footerhome"><i class="fa fa-home"></i><span class="hidden-xs">Home</span></a>
        <a href="" class="footeritem footerprivacy" data-ng-click="navigate('/password','privacy',2)"><i class="fas fa-key"></i><span class="hidden-xs">Privacy</span></a>

        <a href="" class="footeritem footerflight" data-ng-click="navigate('/appflight','appflight',2)"><i class="fas fa-plane"></i><span class="hidden-xs">Flights</span></a>




        <a href="" class="footeritem footerduty" data-ng-click="navigate('/fdps','appduties',1)"><i class="fas fa-border-style"></i><span class="hidden-xs">Duties</span></a>
        <a href="" class="footeritem footereditprofile" data-ng-click="linkClicked('edit_profile')"><i class="fas fa-pen" style="color:white;font-size:22px;"></i><span class="hidden-xs" style="color:white">Edit</span></a>

        <a href="" class="footeritem footerflightcalendar" data-ng-click="navigate('/appflight','appflight',2)"><i class="far fa-calendar-alt"></i><span class="hidden-xs">Flights</span></a>
        <a href="" class="footeritem footerforms" data-ng-click="navigate('/forms','forms',2)"><i class="fas fa-file-alt"></i><span class="hidden-xs">Forms</span></a>
        <a href="" class="footeritem footerelib" data-ng-click="navigate('/applibrary/1/1','applibrary',2)"><i class="fas fa-book-open"></i><span class="hidden-xs">e-Lib</span></a>

        <a href="" class="footeritem footerpif" data-ng-click="navigate('/appflight','appflight',2)"><i class="fas fa-bell"></i><span class="hidden-xs">PIF</span></a>





        <a href="" class="footeritem footerflightstatistics" data-ng-click="navigate('/appflightstatistics','appflightstatistics',2)"><i class="fas fa-chart-pie"></i><span class="hidden-xs">Statistics</span></a>
        <a href="" class="footeritem footerflightlogbook" data-ng-click="navigate('/appflightlogbook','appflightlogbook',2)"><i class="fas fa-clipboard"></i><span class="hidden-xs">Log Book</span></a>


        <a href="" class="footeritem footergofdp" data-ng-click="linkClicked('go_fdp')"><i class="fas fa-border-style" style="color:white"></i><span class="hidden-xs" style="color:white">FDP</span></a>
        <a href="" class="footeritem footershowflightinfo" data-ng-click="linkClicked('show_flightinfo')"><i class="fas fa-info-circle" style="color:white"></i><span class="hidden-xs" style="color:white">Info</span></a>

        <a href="" class="footeritem footerflighteditdirect" data-ng-click="linkClicked('edit_flightdirect')"><i class="fas fa-pen" style="color:white;font-size:22px;"></i><span class="hidden-xs" style="color:white">Edit</span></a>
        <a href="" class="footeritem footerfdpnew" data-ng-click="linkClicked('new_fdp')"><i class="fas fa-plus" style="color:white"></i><span style="color:white">FDP</span></a>
        <a href="" class="footeritem footerfdpnewduty" data-ng-click="linkClicked('new_duty')"><i class="fas fa-plus" style="color:white"></i><span style="color:white">Other</span></a>

        <a href="" class="footeritem footerfdpnewflight" data-ng-click="linkClicked('new_fdpflight')"><i class="fas fa-plane" style="color:white"></i><span class="hidden-xs">New Flight</span></a>
        <a href="" class="footeritem footerfdpflightstatus" data-ng-click="linkClicked('status_fdpflight')"><i class="fas fa-plane-departure" style="color:white"></i><span class="hidden-xs">Status</span></a>
        <a href="" class="footeritem footerfdptime" data-ng-click="linkClicked('time_fdpflight')"><i class="fas fa-clock" style="color:white"></i><span class="hidden-xs">Status</span></a>
        <a href="" class="footeritem footerfdpflightdelete" data-ng-click="linkClicked('delete_fdpflight')"><i class="fas fa-trash" style="color:#c00000"></i><span class="hidden-xs">Delete</span></a>

        <a href="" class="footeritem footercertificatenew" data-ng-click="linkClicked('new_certificate')"><i class="fas fa-plus" style="color:white"></i><span class="hidden-xs">New</span></a>
        <a href="" class="footeritem footercertificateedit" data-ng-click="linkClicked('edit_certificate')"><i class="fas fa-pen" style="color:white"></i><span class="hidden-xs">Edit</span></a>
        <a href="" class="footeritem footercertificatedelete" data-ng-click="linkClicked('delete_certificate')"><i class="fas fa-trash" style="color:#c00000"></i><span class="hidden-xs">Delete</span></a>




        <!-- <a href="" class="footeritem footerdocument" data-ng-click="navigate('/appdocument','appdocument',2)"><i class="fas fa-file"></i><span class="hidden-xs">Documents</span></a>-->
        <a href="" class="footeritem footerdocument" data-ng-click="navigate('/appdocument','appdocument',2)"><i class="fas fa-sticky-note"></i><span class="hidden-xs">Memos</span></a>
        <a href="" class="footeritem footerdocumentpif" data-ng-click="navigate('/appdocument','appdocument',2)"><i class="fas fa-pen-alt"></i><span class="hidden-xs">PIF/CIF</span></a>
        <a href="" class="footeritem footerdocumentother" data-ng-click="navigate('/appdocumentother','appdocumentother',2)"><i class="fas fa-file-alt"></i><span class="hidden-xs">Others</span></a>

        <!--<a href="" class="footeritem footercertification" data-ng-click="navigate('/appcertificate/last','appcertificate-last',1)"><i class="fas fa-award"></i><span class="hidden-xs">Certificates</span></a>-->
        <a href="" class="footeritem footerlast " data-ng-click="navigate('/appcertificate/last','appcertificate-last',1)"><i class="fas fa-star"></i><span class="hidden-xs">Last</span></a>
        <a href="" class="footeritem footerall " data-ng-click="navigate('/appcertificate/all','appcertificate-all',1)"><i class="fas fa-folder"></i><span class="hidden-xs">All</span></a>

        <!--<a href="" class="footeritem footercourse" data-ng-click="navigate('/appcourse/active','appcourse-active',1)"><i class="fas fa-graduation-cap"></i><span class="hidden-xs">Courses</span></a>-->
        <a href="" class="footeritem footernotification" data-ng-click="navigate('/appmessage','appmessage',-1)"><i class="fas fa-comments"></i><span class="hidden-xs">Messages</span></a>
        <a href="" class="footeritem footerreport" data-ng-click="navigate('/reports','reports',-1)"><i class="fas fa-file-alt"></i><span class="hidden-xs">Reports</span></a>

        <a href="" class="footeritem footerbook " data-ng-click="navigate('/applibrary/books','applibrary-book',2)"><i class="icon ion-md-bookmarks"></i><span class="hidden-xs">Books</span></a>
        <a href="" class="footeritem footervideo " data-ng-click="navigate('/applibrary/videos','applibrary-video',2)"><i class="fab fa-youtube"></i><span class="hidden-xs">Videos</span></a>
        <a href="" class="footeritem footerpaper " data-ng-click="navigate('/applibrary/papers','applibrary-paper',2)"><i class="icon ion-md-journal"></i><span class="hidden-xs">Papers</span></a>



        <!-- <a href="" class="footeritem footercoursepending " data-ng-click="navigate('/appcourse/pending','appcourse-pending',1)"><i class="fas fa-question-circle"></i><span class="hidden-xs">New</span></a>-->
        <!--   <a href="" class="footeritem footercourseactive " data-ng-click="navigate('/appcourse/active','appcourse-active',1)"><i class="fas fa-lightbulb"></i><span class="hidden-xs">Active</span></a>-->
        <!--   <a href="" class="footeritem footercoursearchive " data-ng-click="navigate('/appcourse/archive','appcourse-archive',1)"><i class="fas fa-folder"></i><span class="hidden-xs">Archive</span></a>-->
        <a href="" class="footeritem footercertification" data-ng-click="navigate('/appcertificate/last','appcertificate-last',1)"><i class="fas fa-money-check"></i><span class="hidden-xs">Certificates</span></a>
        <a href="" class="footeritem footerprofile" data-ng-click="navigate('/profile','profile',2)"><i class="fas fa-user-circle"></i><span class="hidden-xs">Profile</span></a>
        <a href="" class="footeritem footerstat" data-ng-click="navigate('/stat','stat',2)"><i class="fas fa-chart-pie"></i><span class="hidden-xs">Statistics</span></a>

        <a href="" class="footeritem footerrptflights" data-ng-click="navigate('/rpt/flights/-1/-1','rptflights',2)"><i class="fas fa-plane"></i><span class="hidden-xs">History</span></a>
        <a href="" class="footeritem footerjl" data-ng-click="linkClicked('show_jl')"><i class="fas fa-clipboard" style="color:white"></i><span class="hidden-xs">Journey Log</span></a>
        <a href="" class="footeritem footerexpflts" data-ng-click="linkClicked('export_flts')"><i class="fas fa-file-excel" style="color:white"></i><span class="hidden-xs">Export</span></a>


        <a href="" class="footeritem footerformnew" data-ng-click="linkClicked('new_form')"><i class="fas fa-plus" style="color:white"></i><span class="hidden-xs">New</span></a>
        <a href="" class="footeritem footerformdelete" data-ng-click="linkClicked('delete_form')"><i class="fas fa-trash" style="color:#c00000"></i><span class="hidden-xs">Delete</span></a>



    </div>

</div>