<div ng-controller="jlController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div id="scroll_jl" dx-scroll-view="scroll_jl" style="margin-top:5px">
            <div class="jl-container" style="width:100%;color:black !important" ng-show="isContentVisible">
                <div id="jl" class="page-a4 dx-border1" style="font-size:13px; ">

                    <div class="subpage">
                        <!--<div style="display:inline-block;float:left">Left</div>
            <div style="display:inline-block;float:right">Right</div>
            <div style="position:absolute;bottom:0;">Bottom</div>-->
                        <div class="jl-title" style="width:100%; text-align:center;font-weight:bold;padding:0px 0 0px 0">JOURNEY LOG</div>
                        <div class="div3" style="position:relative;/*height:224px;*/padding-left:10px;padding-right:22px;display:flex">
                            <div style="padding:0;margin:0;width:21%;display:inline-block;position:relative;/*top:-200px;*/">
                                <img   ng-src="{{airline_logo}}" style="margin-left:5px;position:relative;top:-10px;width:240px" id="_logo" />
                                <table style="width:100%;margin-left:5px;margin-top: 0px;" class="jl-table">
                                    <tr>
                                        <td style="width:90px;padding: 6px 0 6px 0;">A/C Type</td>
                                        <td style="width:97px;padding: 6px 0 6px 0;font-weight:bold">{{jl.AcType}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 6px 0 6px 0;">A/C Reg</td>
                                        <td style="padding: 6px 0 6px 0;font-weight:bold">{{jl.Reg}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 6px 0 6px 0;">Date</td>
                                        <td style="padding: 6px 0 6px 0; font-weight:bold">{{formatDate(jl.Date)}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 6px 0 6px 0;">DEP.</td>
                                        <td style="padding: 6px 0 6px 0;font-weight:bold">{{formatTime(jl.STD2)}}</td>
                                    </tr>

                                </table>
                                <table style="width:100%;margin-left:5px;margin-top: 5px; border:1px solid black" class="jl-table">
                                    <tr>
                                        <td style=" padding: 0px 10px 0px 10px;border:none;text-align:left;border-bottom:1px solid #aaa">Form No: {{jl.FDPId}}</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 0px 10px 0px 10px;border:none;text-align:left;border-bottom:1px solid #aaa">Tel: {{jl.tel}}</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 0px 10px 0px 10px;border:none;text-align:left">Email: {{jl.email}}</td>

                                    </tr>


                                </table>
                            </div>
                            <div class="jl-table-1" style="padding:0 0 0 20px;margin:0;width:78%;display:inline-block">
                                <table style="width:100%;margin-left:5px;margin-top:0px;" class="jl-table">
                                    <tr>
                                        <td style="width:12%">DUTY ASSIGNM.</td>
                                        <td style="width:38%">NAME OF CREW MEMBERS</td>
                                        <td style="width:12%;">DUTY ASSIGNM.</td>
                                        <td style="width:38%">NAME OF CREW MEMBERS</td>
                                    </tr>
                                    <tr ng-repeat="x in jl.crews" style="height:20px;">
                                        <td>{{x.cockpit.Position}}</td>

                                        <td style='font-size:12px;font-weight:bold'>{{x.cockpit.Name}}<span style='font-size:12px;font-weight:normal;display:inline-block;margin-left:3px' ng-show="x.cockpit.LegsStr.length>0">{{x.cockpit.LegsStr}}</span></td>
                                        <td>{{x.cabin.Position}}</td>
                                        <td style='font-size:12px;font-weight:bold'>{{x.cabin.Name}}<span style='font-size:12px;font-weight:normal;display:inline-block;margin-left:3px' ng-show="x.cabin.LegsStr.length>0">{{x.cabin.LegsStr}}</span></td>



                                    </tr>
                                    <!--<tr>
                            <td>Capt.</td>

                            <td>{{jl.cpt.Name}}</td>
                            <td>SCCM</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>F/O</td>

                            <td>{{jl.fo.Name}}</td>
                            <td>CCM</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>

                            <td></td>
                            <td>CCM</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>

                            <td></td>
                            <td>CCM</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>-->

                                </table>

                                <table style="width:100%;margin-left:5px;margin-top:2px;" class="jl-table">
                                    <tr>
                                        <td colspan="8" style="padding:0px;font-size:11px;"> CREW DUTY TIME</td>
                                    </tr>
                                    <tr style="height:27px;">
                                        <td style="width:12.5%;padding:0px;font-size:11px">MAX DUTY</td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">{{formatMinutes(jl.MaxFDP)}}</td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">
                                            <div style="font-size:12px">START</div>
                                            <div style="font-size:10px;">ETD -1:00</div>
                                        </td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">{{formatTime(jl.StartTime)}}</td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">
                                            <div style="font-size:12px">END</div>
                                            <div style="font-size:10px;">ONBLOCK +00:30</div>
                                        </td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">{{formatTime(jl.DutyEnd2)}}</td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">TOTAL DUTY</td>
                                        <td style="width:12.5%;padding:0px;font-size:11px">{{formatMinutes(jl.Duty)}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div style="clear:both"></div>

                        </div>
                        <div class="div2" style="position:relative;padding-left:16px;margin-top:5px;padding-right:10px;">
                            <table style="width:100%;margin-left:0px;margin-top:0px;" class="jl-table">
                                <tr>
                                    <td style="width:12%; border-right:none;padding:2px !important;font-size:12px">OPERATION NOTES:</td>
                                    <td style="  border-left:none;;padding:2px !important;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="div2 bdiv" style="position:relative;padding-left:16px;margin-top:2px;padding-right:10px;text-align:center">
                            <div class="dh" style="border:1px solid black;">
                                <!--<div style="width:1%;height:56px;float:left;writing-mode:tb; text-orientation:mixed;text-align:left;font-size:9px !important;padding:14px 0px 0 0px " class="fjl">SECTOR</div>-->
                                <div style="width:1%;height:56px;float:left; text-align:left;font-size:9px !important;padding:14px 0px 0 0px " class="fjl"><div style=" transform: rotate(90deg);font-size:10px">SECTOR</div></div>

                                <div style="width:16%; float:left; ">
                                    <div class="bob fjl dp" style=" border-bottom: 1px solid black;border-right: 1px solid black;">TRIP DATA REPORT</div>
                                    <div>
                                        <div style="width:25%;float:left; height:40px" class="bob fjl">
                                            <div s class="nbo fjl">DATE</div>
                                            <div class="nbo ">
                                                <div style="width:50%;float:left; " class="nbo fjl">M</div>
                                                <div style="width:50%;float:left; " class="nbo fjl">D</div>
                                            </div>
                                        </div>
                                        <div style="width:25%;float:left; height:40px;padding:11px 0;" class="bo fjl">FROM</div>
                                        <div style="width:25%;float:left; height:40px;padding:11px 0;" class="bo fjl">TO</div>
                                        <div style="width:25%;float:left; height:40px;padding:3px 0;border-right: 1px solid black;font-size:11px !important" class="bo fjl">FLIGHT NO.</div>
                                    </div>
                                </div>
                                <!--<div style="width:2%; height:56px;text-align:left; float:left; writing-mode:tb; text-orientation:mixed;padding:14px 4px 0 0" class="fjl">PF L/R</div>-->
                                <div style="width:2%; height:56px;text-align:left; float:left; padding:14px 4px 0 0" class="fjl"><div style=" transform: rotate(90deg);width:36px;font-size:12px;margin:7px -7px">PF L/R</div></div>
                                
                                <div style="width:18%; float:left; ">

                                    <div class="bob fjl dp" style=" border-bottom: 1px solid black;">FUEL</div>
                                    <div>
                                        <div style="width:22%;float:left; height:40px;padding:3px 0;" class="bob fjl">
                                            REM. FUEL

                                        </div>
                                        <div style="width:22.7%;float:left; height:40px;padding:11px 0;" class="bo fjl">UP LIFT</div>
                                        <!--<div style="width:15.7%;float:left; height:40px;padding:0 6px;writing-mode:vertical-lr; text-orientation:mixed" class="bo fjl">DEN</div>-->
                                        <div style="width:15.7%;float:left; height:40px;padding:8px 6px;" class="bo fjl">
                                            <div style=" transform: rotate(90deg);font-size:12px;">DEN</div>
                                        </div>
                                        
                                        <div style="width:19.8%;float:left; height:40px;padding:11px 0;" class="bo fjl">TOTAL</div>
                                        <div style="width:19.8%;float:left; height:40px;padding:11px 0;" class="bo fjl">USED</div>
                                    </div>
                                </div>
                                <div style="width:13%; float:left; ">

                                    <div class="bob fjl dp" style=" border-bottom: 1px solid black;border-right: 1px solid black;">PASSENGER</div>
                                    <div>
                                        <div style="width:28%;float:left; height:40px;padding:11px 0;" class="bob fjl">ADL </div>
                                        <div style="width:22%;float:left; height:40px;padding:11px 0;" class="bo fjl">CHD</div>
                                        <div style="width:22%;float:left; height:40px;padding:11px 0;" class="bo fjl">INF</div>
                                        <div style="width:28%;float:left; height:40px;padding:11px 0;border-right: 1px solid black;" class="bo fjl">TOTAL</div>
                                    </div>
                                </div>
                                <!--<div style="width:4%; height:56px;text-align:left; float:left; writing-mode:tb; text-orientation:mixed;padding:14px 15px 0 0" class="fjl">CARGO</div>-->
                                <div style="width:4%; height:56px;text-align:left; float:left;  padding:22px 0px 0 0" class="fjl"><div style=" transform: rotate(90deg);">CARGO</div></div>
                                <div style="width:31%; float:left; ">

                                    <div class="bob fjl dp" style=" border-bottom: 1px solid black;">TIME (UTC)</div>
                                    <div>
                                        <div style="width:16.67%;float:left; height:40px;padding:3px 0;" class="bob fjl">BLOCK OFF </div>
                                        <div style="width:16.67%;float:left; height:40px;padding:3px 5px;" class="bo fjl">T/O TIME</div>
                                        <div style="width:16.67%;float:left; height:40px;padding:5px;" class="bo fjl">LND TIME</div>
                                        <div style="width:16.67%;float:left; height:40px;padding:3px 0;" class="bo fjl">BLOCK  &nbsp;ON</div>
                                        <div style="width:16.67%;float:left; height:40px;padding:3px 0;" class="bo fjl">FLIGHT TIME</div>
                                        <div style="width:16.65%;float:left; height:40px;padding:3px 0;" class="bo fjl">BLOCK TIME</div>
                                    </div>
                                </div>
                                <div style="width:15%; float:left; ">

                                    <div class="bob fjl dp" style=" border-bottom: 1px solid black;">DUTY CALC.</div>
                                    <div>
                                        <div style="width:38.5%;float:left; height:40px;padding:3px 0;font-size:10px !important" class="bob fjl">GRD SERV TIME </div>
                                        <div style="width:38.5%;float:left; height:40px;padding:3px 3px;font-size:10px !important" class="bo fjl">REM DUTY</div>
                                        <div style="width:23%;float:left; height:40px;font-size:10px !important;padding:5px 0;" class="bo fjl">DELAY CODE</div>

                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="dr" ng-repeat="x in jl.sectors">
                                <div style="width:1.1%; float:left;border-left:1px solid black;font-weight:bold" class="fjl bo2 dcell">{{x.sector}}</div>

                                <div style="width:2%; float:left;border-left:1px solid black;font-weight:bold" class="fjl bo2 dcell">{{x.mm}}</div>
                                <div style="width:2%; float:left;font-weight:bold" class="fjl bo2 dcell">{{x.dd}}</div>
                                <div style="width:3.95%; float:left;font-weight:bold" class="fjl bo2 dcell">{{x.from}}</div>
                                <div style="width:4%; float:left;font-weight:bold" class="fjl bo2 dcell">{{x.to}}</div>
                                <div style="width:4%; float:left;font-weight:bold" class="fjl bo2 dcell">{{x.no}}</div>

                                <div style="width:2%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">{{x.leg.PF}}</div>
                                <!--Fuel-->
                                <div style="width:4%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">{{x.leg.FuelRemaining}}</div>
                                <div style="width:4%; float:left;" class="fjl bo2 dcell">{{x.leg.FuelUplift}}</div>
                                <div style="width:2.88%; float:left;" class="fjl bo2 dcell">{{x.leg.FuelDensity}}</div>
                                <div style="width:3.55%; float:left;" class="fjl bo2 dcell">{{x.leg.FuelTotal}}</div>
                                <div style="width:3.54%; float:left;" class="fjl bo2 dcell">{{x.leg.FuelUsed}}</div>
                                <!--Passenger-->
                                <div style="width:3.6%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">{{x.leg.PaxAdult}}</div>
                                <div style="width:2.9%; float:left;" class="fjl bo2 dcell">{{x.leg.PaxChild}}</div>
                                <div style="width:2.85%; float:left;" class="fjl bo2 dcell">{{x.leg.PaxInfant}}</div>
                                <div style="width:3.55%; float:left;" class="fjl bo2 dcell">{{x.leg.PaxTotal}}</div>

                                <!--cargo-->
                                <div style="width:4.1%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">{{x.leg.Freight}}</div>
                                <!--Time-->
                                <div style="width:5.1617%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">{{formatTime(x.leg.BlockOff2)}}</div>
                                <div style="width:5.1617%; float:left;" class="fjl bo2 dcell">{{formatTime(x.leg.TakeOff2)}}</div>
                                <div style="width:5.1617%; float:left;" class="fjl bo2 dcell">{{formatTime(x.leg.Landing2)}}</div>
                                <div style="width:5.1%; float:left;" class="fjl bo2 dcell">{{formatTime(x.leg.BlockOn2)}}</div>
                                <div style="width:5.2%; float:left;" class="fjl bo2 dcell">{{formatMinutes(x.leg.FlightTime)}}</div>
                                <div style="width:5.1615%; float:left;" class="fjl bo2 dcell">{{formatMinutes(x.leg.BlockTime)}}</div>
                                <!--Duty-->
                                <div style="width:5.775%; float:left;border-left:1px solid black;" class="fjl bo2 dcell">:</div>
                                <div style="width:5.775%; float:left;" class="fjl bo2 dcell" ng-style="getDurationStyle(x.leg.RemDuty)">{{formatMinutes(x.leg.RemDuty)}}</div>
                                <div style="width:3.49%; float:left;border-right:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style='clear:both'></div>
                            </div>

                            <!--NEW-->
                            <div style='clear:both'></div>
                            <div class="dr ERT">
                                <div style="width:1.1%; float:left;font-weight:bold;border:none;border-bottom:1px solid black;border-left:1px solid black;" class="fjl bo2 dcell"> &nbsp;</div>

                                <div style="width:2%; float:left;border-left:1px solid black;font-weight:bold;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell"> &nbsp;</div>
                                <div style="width:2%; float:left;font-weight:bold;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp; </div>
                                <div style="width:3.95%; float:left;font-weight:bold;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp; </div>
                                <div style="width:4%; float:left;font-weight:bold;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp; </div>
                                <div style="width:4%; float:left;font-weight:bold;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell"> &nbsp;</div>

                                <div style="width:2%; float:left;border-left:1px solid black; border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <!--Fuel-->
                                <div style="width:4%; float:left;border-left:1px solid black;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:4.0%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:2.88%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:2.26%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:2.84%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <!--Passenger-->
                                <div style="width:3.6%; float:left;border-left:1px solid black;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:2.9%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:2.85%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:3.55%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>

                                <!--cargo-->
                                <div style="width:4.1%; float:left;border-left:1px solid black;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>
                                <!--Time-->
                                <div style="width:5.1617%; float:left;border-left:1px solid black;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell"> </div>
                                <div style="width:5.1617%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp; </div>
                                <div style="width:7.15%; float:left;border:none;border-bottom:1px solid black;" class="fjl bo2 dcell">&nbsp; </div>
                                <div style="width:5.1%; float:left;border:none;border-bottom:1px solid black;;border-left: 1px solid #000;" class="fjl bo2 dcell"> Total</div>
                                <div style="width:5.2%; float:left;border:none;border-bottom:1px solid black;border-left: 1px solid #aaa;" class="fjl bo2 dcell">{{formatMinutes(jl.flight)}}</div>
                                <div style="width:5.1615%; float:left;border:none;border-bottom:1px solid black;border-left:1px solid #aaa " class="fjl bo2 dcell"> {{formatMinutes(jl.block)}}</div>
                                <!--Duty-->
                                <div style="width:5.775%; float:left;border-left:1px solid black;border:none;border-bottom:1px solid black;border-left:1px solid black " class="fjl bo2 dcell">&nbsp;</div>
                                <div style="width:5.775%; float:left;border:none; border-bottom:1px solid black;" class="fjl bo2 dcell"> </div>
                                <div style="width:3.47%; float:left;border-right:1px solid black;border:none; border-bottom:1px solid black;border-right:1px solid black;" class="fjl bo2 dcell">&nbsp;</div>

                            </div>
                            <!--NEW-->


                        </div>
                        <div style="clear:both"></div>
                        <div class="div2" style="position:relative;padding-left:16px;margin-top:2px;padding-right:10px;text-align:center">
                            <div style=" float:left;width:17%;padding-right:5px;">
                                <div class="dh" style="border:1px solid black;">
                                    <div style="width:6%;height:27px;float:left;writing-mode:tb; text-orientation:mixed;text-align:left;font-size:9px !important;padding:5px 0px 0 0px " class="fjl">&nbsp;</div>
                                    <div style="width:94%; float:left;text-align:center;height:40px;padding:7px 0 !important " class="bob fjl dp">

                                        SERIAL NO./LTR

                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <div style="clear:both"></div>
                                <div class="dr" ng-repeat="x in jl.sectors">
                                    <div style="width:6.5%; float:left;border-left:1px solid black;height:28px;padding:6px 0" class="fjl bo2 dcell">{{x.sector}}</div>
                                    <div style="width:93.5%; float:left;border-right:1px solid black;height:28px;padding:6px 0" class="fjl bo2 dcell">{{x.leg.SerialNo}}&nbsp;/&nbsp;{{x.leg.LTR}}</div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <div style=" float:left;width:48%;padding-right:5px;">
                                <div style="border:1px solid black;font-size:12px">RVSM CHECK</div>
                                <div>
                                    <div class="dr" style=" width:50%;float:left">
                                        <div>
                                            <div style="width:10%; float:left;border:1px solid black;border-right:none;border-top:none;  padding:5px 0;font-size:11px" class="fjl bo2 dcell">LEG</div>
                                            <div style="width:19%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">PHASE</div>
                                            <div style="width:24.5%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">CPT</div>
                                            <div style="width:24%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">STBY</div>
                                            <div style="width:22.5%; float:left;border:1px solid black; border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">F/O</div>
                                        </div>
                                        <div ng-repeat="x in jl.rvsm1">
                                            <div style="width:10%; float:left;border-left:1px solid black;height:56px;padding:20px 0" class="fjl bo2 dcell">{{x.leg}}</div>
                                            <div style="width:90%; float:left;border-right:1px solid black;height:56px;padding:0px 0" class="fjl bo2 dcell">
                                                <div>
                                                    <div style="width:21%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">GND</div>
                                                    <div style="width:27.6%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_CPT}}</div>
                                                    <div style="width:27%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_STBY}}</div>
                                                    <div style="width:24.4%; float:left;border-right:none;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_FO}}</div>

                                                    <div style="clear:both"></div>
                                                </div>
                                                <div>
                                                    <div style="width:21%; float:left;border-right:1px solid #bbb;border-top:none;border-left:none;border-bottom:none; padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">FLT</div>
                                                    <div style="width:27.6%; float:left;border-right:1px solid #bbb;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_CPT}}</div>
                                                    <div style="width:27%; float:left;border-right:1px solid #bbb;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_STBY}}</div>
                                                    <div style="width:24.4%; float:left;border-right:none;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_FO}}</div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dr" style=" width:50%;float:left">
                                        <div>
                                            <div style="width:10%; float:left;border:1px solid black;border-right:none;border-top:none;   padding:5px 0;font-size:11px" class="fjl bo2 dcell">LEG</div>
                                            <div style="width:19%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">PHASE</div>
                                            <div style="width:24.5%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">CPT</div>
                                            <div style="width:24%; float:left;border:1px solid black;border-right:none;border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">STBY</div>
                                            <div style="width:22.5%; float:left;border:1px solid black; border-top:none; padding:5px 0;font-size:12px" class="fjl bo2 dcell">F/O</div>
                                        </div>
                                        <div ng-repeat="x in jl.rvsm2">
                                            <div style="width:10%; float:left;border-left:1px solid black;height:56px;padding:20px 0" class="fjl bo2 dcell">{{x.leg}}</div>
                                            <div style="width:90%; float:left;border-right:1px solid black; height:56px;padding:0px 0" class="fjl bo2 dcell">
                                                <div>
                                                    <div style="width:21%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">GND</div>
                                                    <div style="width:27.6%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_CPT}}</div>
                                                    <div style="width:27%; float:left;border-right:1px solid #bbb;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_STBY}}</div>
                                                    <div style="width:24.4%; float:left;border-right:none;border-bottom:1px solid #bbb;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_GND_FO}}</div>

                                                    <div style="clear:both"></div>
                                                </div>
                                                <div>
                                                    <div style="width:21%; float:left;border-right:1px solid #bbb;border-top:none;border-left:none;border-bottom:none; padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">FLT</div>
                                                    <div style="width:27.6%; float:left;border-right:1px solid #bbb;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_CPT}}</div>
                                                    <div style="width:27%; float:left;border-right:1px solid #bbb;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_STBY}}</div>
                                                    <div style="width:24.4%; float:left;border-right:none;border-bottom:none;border-top:none;border-left:none;  padding:6px 0;font-size:12px;height:28px" class="fjl bo2 dcell">{{x.RVSM_FLT_FO}}</div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>


                                <div style="clear:both"></div>
                            </div>
                            <div style=" float:left;width:35%;border:1px solid black; ">
                                <div style="text-align:left;font-size:12px;padding:3px;padding-bottom:36px">COMMANDER'S NOTES:</div>
                                <div>
                                    <div style="float:right;width:195px;height:110px;border:1px solid #aaa;font-size:11px;background-size: cover;background-repeat:no-repeat;position:relative" id="jlsign">
                                        <span style="z-index:10000">Commander's Signature</span>
                                        <img id="_jlsign" style="width:194px;height:109px;position:absolute;top:0;left:0;" />
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <div style="text-align:center;font-size:8px;border-top:1px solid #aaa;height:43px;">
                                    THE FOLLOWING FORM COMPELETED AND ATTACHED
                                    <span style="display:inline-block;margin-left:5px;font-size:8px;">ASR</span><input type="checkbox" id="asr" style="display:inline-block;border:1px solid #aaa;margin-left:5px;position:relative;top:3px;" />
                                    <span style="display:inline-block;margin-left:10px;font-size:8px;">VOYAGE REPORT</span><input type="checkbox" id="vr" style="display:inline-block;border:1px solid #aaa;margin-left:5px;position:relative;top:3px;" />
                                    <span style="display:inline-block;margin-left:20px;font-size:8px;">REPOSITIONING</span>
                                    <input type="checkbox" id="pos1" style="display:inline-block;border:1px solid #aaa;margin-left:5px;position:relative;top:3px;" />
                                    <!--<span><i class="fa fa-check-square"></i></span>-->
                                    <input type="checkbox" id="pos2" style="display:inline-block;border:1px solid #aaa;margin-left:5px;position:relative;top:3px;" />
                                </div>
                            </div>

                            <div style="clear:both"></div>
                        </div>

                        <!--<div class="div2" style="position:relative;padding-left:16px;margin-top:0px;padding-right:10px;text-align:center">
                <table style="width:95%">
                    <tr>
                        <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Form No:</td>
                        <td style="font-size: 11px;width:23%;text-align:left">{{jl.formNo}}</td>
                        <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Tel:</td>
                        <td style="font-size: 11px;width:23%;text-align:left">{{jl.tel}}</td>
                        <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Email:</td>
                        <td style="font-size: 11px;width:16%;text-align:left">{{jl.email}}</td>
                    </tr>
                </table>
            </div>-->


                    </div>



                </div>
            </div>
        </div>
    </div>
</div>