<div style="height:100%;">
    <div class="box register1 maincontainer" style="height:100%;overflow-y:hidden;max-width:1024px;margin:0 auto 0 auto">
        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <!--<div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>-->

        <div class="rowx content dx-border" style="clear:both;background:#f0f3f5; ">


            <div id="scrollview" dx-scroll-view="scroll_main">
                <div style="padding:10px 20px 10px 20px;max-width:400px;margin:0 auto 0 auto">


                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>First Name</label>
                        <div id="" dx-text-box="txt_firstName" dx-validator="firstNameValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Last Name</label>
                        <div id="" dx-text-box="txt_lastName" dx-validator="lastNameValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                        <label>National Code</label>
                        <div dx-text-box="txt_nid" class="center ltr " dx-validator="nidValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Email</label>
                        <div id="" dx-text-box="txt_email" dx-validator="emailValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Rank</label>
                        <div id="" dx-select-box="sb_position" dx-validator="positionValidationRules"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  margin-bottom-5 padding-7">
                        <label>Home Base</label>
                        <div dx-select-box="sb_Base" dx-validator="homeBaseValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Password</label>
                        <div id="pass" dx-text-box="txt_password" dx-validator="passwordValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <label>Confirm Password</label>
                        <div dx-text-box="txt_confirmPassword" dx-validator="confirmPasswordValidationRules"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7" style="display:block">
                        <div dx-button="btn_save"></div>

                    </div>

                </div>

            </div>
        </div>

     <!--   <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'appcertificate';" style="padding:0;flex:0 0 45px"></div>-->
    </div>
    <div dx-load-panel="loadPanel"></div>
</div>
